* {
	box-sizing:border-box;
}
img {
	height:240px;
	width:auto;
}
.hand {
	height:240px;
	width:auto;
	display:inline-block;
	margin-right: 50px;
}
.overlay {
	opacity:0;
	background:white;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}
.hand:hover .overlay {
	opacity:1;
}
/*------------------------------------------------------LETTER A*/

#a {
	background: url('images/a-hand.jpg');
}
.letter {
	width:210px;
	height:240px;
	display:inline-block;
	position: relative;
}
.a .v1, .b .v1, .d .v1, .g .v1, .c .v1, .f .v1, .k .v1{
	width:30px;
	height:200px;
	background-color: black;
	position: absolute;
	left:0;
	bottom:0;
}
.a .v2, .b .v2, .d .v2, .g .v2, .e .v2, .c .v2, .f .v2, .k .v2{
	width:30px;
	height:240px;
	background-color: black;
	position: absolute;
	left:60px;
	bottom:0;
}
.a .v3 {
	width:30px;
	height:200px;
	background-color: black;
	position: absolute;
	right:0;
	bottom:0;
}
.a .h1 {
	width:120px;
	height:40px;
	position: absolute;
	background: black;
	top:0;
	left:60px;
}
.a .h2, .b .h2, .p .h2{
	width:120px;
	height:40px;
	position: absolute;
	background: black;
	top:120px;
	left:60px;
}
.a .h3, .f .h3{
	width:90px;
	height:40px;
	position: absolute;
	background: black;
	bottom:0px;
	left:0px;
}
/*------------------------------------------------------LETTER B*/

#b {
	background: url('images/b-hand.jpg');
}
.b .v3 {
	width:30px;
	height:120px;
	background-color: black;
	position: absolute;
	right:0;
	top:40px;
}
.b .v4 {
	width:30px;
	height:80px;
	position: absolute;
	left:210px;
	top:120px;
	background: black;
}
.b .h1, .d .h1, .g .h1 {
	width:180px;
	height:40px;
	position: absolute;
	background: black;
	top:0;
	left:0px;
}
.b .h3, .e .h3 {
	width:210px;
	height:40px;
	position: absolute;
	background: black;
	bottom:0;
	left:0;
}
/*------------------------------------------------------LETTER C*/
#c {
	background: url('images/c-hand.jpg')
}
.c .h1, .f .h1 {
	width:210px;
	height:40px;
	position: absolute;
	background: black;
	top:0;
	left:0px;
}
.c .v3 {
	width:30px;
	height:80px;
	position: absolute;
	background: black;
	top: 0;
	left: 180px;
}
.c .v4 {
	width:30px;
	height:120px;
	background-color: black;
	position: absolute;
	left:210px;
	bottom:0;
}
/*------------------------------------------------------LETTER D*/
#d {
	background: url('images/d-hand.jpg')
}
.d .v3 {
	width:30px;
	height:40px;
	background-color: black;
	position: absolute;
	left:180px;
	top:40px;
}
.d .v4 {
	width:30px;
	height:80px;
	background-color: black;
	position: absolute;
	left:210px;
	top:80px;
}
.d .v5 {
	width:30px;
	height:40px;
	background-color: black;
	position: absolute;
	left:180px;
	top:160px;
}
.d .h3 {
	width:180px;
	height:40px;
	position: absolute;
	background: black;
	bottom:0;
	left:0px;
}
/*------------------------------------------------------LETTER E*/
#e {
	background: url('images/e-hand.jpg')
}
.e .v1{
	width:30px;
	height:240px;
	background-color: black;
	position: absolute;
	left:0;
	bottom:0;
}
.e .h1 {
	width:90px;
	height:40px;
	position: absolute;
	background: black;
	top:0;
	left:60px;
}
.e .h2, .f .h2, .k .h3, .r .h2 {
	width:120px;
	height:40px;
	position: absolute;
	background: black;
	top:120px;
	left:60px;
}
/*------------------------------------------------------LETTER F*/
#f {
	background: url('images/f-hand.jpg')
}

/*------------------------------------------------------LETTER G*/
#g {
	background: url('images/g-hand.jpg')
}
.g .h2 {
	width:80px;
	height:40px;
	position: absolute;
	background: black;
	top:120px;
	right:0;
}
.g .h3, .c .h2{
	width:240px;
	height:40px;
	position: absolute;
	background: black;
	bottom:0;
	left:0px;
}
.g .v3 {
	width:30px;
	height:120px;
	background-color: black;
	position: absolute;
	left:210px;
	bottom:0;
}
/*------------------------------------------------------LETTER H*/
#h {
	background: url('images/h-hand.jpg')
}
.h .v1 {
	width:30px;
	height:200px;
	background-color: black;
	position: absolute;
	left:30px;
	bottom:0;
}
.h .v2 {
	width:30px;
	height:240px;
	background-color: black;
	position: absolute;
	left:90px;
	bottom:0;
}
.h .v3 {
	width:30px;
	height:240px;
	background-color: black;
	position: absolute;
	left:210px;
	bottom:0;
}
.h .h1 {
	width:60px;
	height:40px;
	background: black;
	position: absolute;
	left:30px;
	top:0;
}
.h .h2 {
	width:30px;
	height:40px;
	background-color: black;
	position: absolute;
	left:0px;
	top:120px;
}
.h .h3 {
	width:60px;
	height:40px;
	background-color: black;
	position: absolute;
	left:30px;
	bottom:0px;
}
.h .h4 {
	width:150px;
	height:40px;
	background-color: black;
	position: absolute;
	left:120px;
	top:120px;
}
/*------------------------------------------------------LETTER I*/
#i {
	background: url('images/i-hand.jpg')
}
.i .v1 {
	width:30px;
	height:200px;
	background-color: black;
	position: absolute;
	left:60px;
	bottom:0;
}
.i .v2 {
	width:30px;
	height:240px;
	background-color: black;
	position: absolute;
	left:120px;
	bottom:0;
}
.i .h1 {
	width: 180px;
	height:40px;
	background-color: black;
	position: absolute;
	left: 0;
	top:0;
}
.i .h2 {
	width: 180px;
	height:40px;
	background-color: black;
	position: absolute;
	left: 30px;
	bottom:0;
}
/*------------------------------------------------------LETTER J*/
#j {
	background: url('images/j-hand.jpg')
}
.j .v1 {
	width: 30px;
	height:80px;
	background-color: black;
	position: absolute;
	left:0px;
	bottom:0;
}
.j .v2 {
	width:30px;
	height:200px;
	background-color: black;
	position: absolute;
	left:90px;
	bottom:0;
}
.j .v3 {
	width:30px;
	height:240px;
	background-color: black;
	position: absolute;
	left:150px;
	bottom:0;
}
.j .h1 {
	width: 90px;
	height:40px;
	background-color: black;
	position: absolute;
	left: 90px;
	top:0;
}
.j .h2 {
	width: 180px;
	height:40px;
	background-color: black;
	position: absolute;
	left: 0px;
	bottom:0;
}
/*------------------------------------------------------LETTER K*/
#k {
	background: url('images/k-hand.jpg')
}
.k .h1, .l .h1, .m .h1, .n .h1, .w .h1, .x .h1, .y .h1 {
	width: 90px;
	height:40px;
	background-color: black;
	position: absolute;
	left: 0px;
	top:0;
}
.k .h2, .m .h2, .m .h2, .p .h2, .r .h2, .w .h2 {
	width: 90px;
	height:40px;
	background-color: black;
	position: absolute;
	left: 0px;
	bottom:0;
}
.k .v3, .r .v3 {
	width:30px;
	height:120px;
	background-color: black;
	position: absolute;
	left: 180px;
	top:0;
}
.k .v4, .r .v4 {
	width:30px;
	height:120px;
	background-color: black;
	position: absolute;
	left: 210px;
	bottom:0;
}
/*------------------------------------------------------LETTER L*/
#l {
	background: url('images/l-hand.jpg')
}
.l .v1 {
	width: 30px;
	height:80px;
	background-color: black;
	position: absolute;
	left:150px;
	bottom:0;
}
.l .v2 {
	width:30px;
	height:200px;
	background-color: black;
	position: absolute;
	left:0px;
	bottom:0;
}
.l .v3 {
	width:30px;
	height:240px;
	background-color: black;
	position: absolute;
	left:60px;
	bottom:0;
}
.l .h2 {
	width: 180px;
	height:40px;
	background-color: black;
	position: absolute;
	left: 0px;
	bottom:0;
}
/*------------------------------------------------------LETTER M*/
#n {
	background: url('images/n-hand.jpg')
}
/*.letter {
	width:300px;
	height:450px;
	background: lime;
	float:left;
	margin-right:8px;
	display:inline-block;
	vertical-align: middle;
	margin-bottom: 8px;
	position:relative;
}
.h .v1, .d .v1, .p .v1, .n .v1 {
	position:absolute;
	height:100%;
	width:6px;
	left:0;
	background: black;
	margin:0 8px 8px 0;
}
.h .v2, .n .v2 {
	position:absolute;
	height:100%;
	width:6px;
	right:0;
	background: black;
	margin:0 0 8px 8px;
}
.h .h1 {
	position:absolute;
	width:100%;
	top:50%;
	height:6px;
	background: black;
}
.o .c1 {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border:6px solid black;
	border-radius: 50%;
}
.d .c1{
	border:6px solid black;
	border-top-right-radius: 50%;
	border-bottom-right-radius:50%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
}
.p .c1 {
	height:225px;
	width:100%;
	position: absolute;
	border:6px solid black;
	top:0;
	right:0;
	border-top-right-radius: 50%;
	border-bottom-right-radius:50%;
}
.n .d1 {
	position:absolute;
	left:5px;
	height:6px;
	width:535px;
	background: black;
	transform:rotate(56.6deg);
	-webkit-transform:rotate(56.6deg);
	-moz-transform:rotate(56.6deg);
	transform-origin:0% 0%;
	-webkit-transform-origin:0% 0%;
	-moz-transform-origin:0% 0%;
}*/