* {
	box-sizing:border-box;
}
body {
	background: black;
}
div {
/*	-webkit-transform:scale(.5,.5);
	-moz-transform:scale(.5,.5);
	transform:scale(.5,.5);*/
}
.letter-definition {
	display: none;
}
.alphabet {
	z-index: 99;
	position: fixed;
	background: white;
	border-radius: 50%;
	height:30px;
	width:30px;
	cursor:pointer;
	right:30px;
}
.index {
	top:30px;
}
.page2 {
	top:80px;
}
.page3 {
	top:130px;
}
.page4 {
	top:180px;
}
.index:hover {
	background: red;
}
.page2:hover {
	background: blue;
}
.page3:hover {
	background: green;
}
.page4:hover {
	background: purple;
}
.letters {
	width:1215px;
	text-align: left;
	margin:50px 0px 150px 0px;
}
.container {
	width:1215px;
	height:auto;
	margin:0 auto;
	padding:20px;
	margin-top: 30px;
}
.letter-definition {
    display: none;
}
.hand {
	height:120px;
	width:145px;
	display:inline-block;
	margin-right: 120px;
	margin-bottom: 50px;
}
.overlay {
	opacity:1;
	background:black;
}
/*.hand:hover .overlay {
	opacity:1;
}*/
/*------------------------------------------------------LETTER A*/
.letter {
/*	width:auto;
*/	width:145px;
	height:120px;
	display:inline-block;
	position: relative;
	-webkit-transform:scale(.7);
	-moz-transform:scale(.7);
	transform:scale(.7);
}
/*.a, .e, .f, .i, .n, .o, .p, .zero, .one, .five, .seven, .eight, .nine, .question {
	width:105px;
}
.b, .c, .d, .g, .k, .r, .s, .t, .u, .x, .six {
	width:120px;
}
.h, .m, .q, .v, .w, .y {
	width:135px;
}
.j, .l, .z, .two, .three, .four {
	width:90px;
}
.exclamation {
	width:45px;
}
.period {
	width:15px;
}
.comma {
	width:60px;
}
.r-quote, .l-quote {
	width:150px;
}*/
.a .v1, .b .v1, .d .v1, .g .v1, .c .v1, .f .v1, .k .v1, .m .v1, .n .v1, .p .v1, .r .v1, .v .v1, .w .v1, .six .v1{
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:0;
	bottom:0;
}
.a .v2, .b .v2, .d .v2, .g .v2, .e .v2, .c .v2, .f .v2, .k .v2, .m .v2, .n .v2, .o .v2, .p .v2, .q .v2, .r .v2, .v .v2, .w .v2, .six .v2{
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0;
}
.a .v3, .o .v3, .q .v3{
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:90px;
	bottom:0;
}
.a .h1 {
	width:60px;
	height:20px;
	position: absolute;
	background: white;
	top:0;
	left:30px;
}
.a .h2, .b .h2, .p .h3{
	width:60px;
	height:20px;
	position: absolute;
	background: white;
	top:60px;
	left:30px;
}
.a .h3, .f .h3 {
	width:45px;
	height:20px;
	position: absolute;
	background: white;
	bottom:0px;
	left:0px;
}
/*------------------------------------------------------LETTER B*/
.b .v3 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:90px;
	top:20px;
}
.b .v4 {
	width:15px;
	height:40px;
	position: absolute;
	left:105px;
	top:60px;
	background: white;
}
.b .h1, .d .h1, .g .h1, .i .h1, .p .h1, .z .h1, .three .h1, .five .h1, .six .h1 {
	width:90px;
	height:20px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.b .h3, .e .h3, .u .h2, .one .h2 {
	width:105px;
	height:20px;
	position: absolute;
	background: white;
	bottom:0;
	left:0;
}
/*------------------------------------------------------LETTER C*/

.c .h1, .f .h1, .r .h1, .seven .h1 {
	width:105px;
	height:20px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.c .v3 {
	width:15px;
	height:40px;
	position: absolute;
	background: white;
	top: 0;
	left:90px;
}
.c .v4, .r .v4 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:105px;
	bottom:0;
}
/*------------------------------------------------------LETTER D*/
.d .v3 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:90px;
	top:20px;
}
.d .v4 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:105px;
	top:40px;
}
.d .v5, .five .v3 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:90px;
	top:80px;
}
.d .h3, .s .h2, .three .h2, .five .h3 {
	width:90px;
	height:20px;
	position: absolute;
	background: white;
	bottom:0;
	left:0px;
}
/*------------------------------------------------------LETTER E*/
.e .v1{
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:0;
	bottom:0;
}
.e .h1 {
	width:45px;
	height:20px;
	position: absolute;
	background: white;
	top:0;
	left:30px;
}
.e .h2, .f .h2, .k .h3, .r .h3 {
	width:60px;
	height:20px;
	position: absolute;
	background: white;
	top:60px;
	left:30px;
}
/*------------------------------------------------------LETTER F*/
/*------------------------------------------------------LETTER G*/
.g .h2 {
	width:40px;
	height:20px;
	position: absolute;
	background: white;
	top:60px;
	left:75px;
}
.g .h3, .c .h2, .six .h3{
	width:120px;
	height:20px;
	position: absolute;
	background: white;
	bottom:0;
	left:0px;
}
.g .v3, .six .v4 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:105px;
	bottom:0;
}
/*------------------------------------------------------LETTER H*/
.h .v1 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:15px;
	bottom:0;
}
.h .v2 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:45px;
	bottom:0;
}
.h .v3 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:105px;
	bottom:0;
}
.h .h1 {
	width:30px;
	height:20px;
	background: white;
	position: absolute;
	left:15px;
	top:0;
}
.h .h2 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:0px;
	top:60px;
}
.h .h3 {
	width:30px;
	height:20px;
	background-color: white;
	position: absolute;
	left:15px;
	bottom:0px;
}
.h .h4 {
	width:75px;
	height:20px;
	background-color: white;
	position: absolute;
	left:60px;
	top:60px;
}
/*------------------------------------------------------LETTER I*/

.i .v1, .one .v1 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0;
}
.i .v2, .one .v2 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0;
}
.i .h2 {
	width:90px;
	height:20px;
	background-color: white;
	position: absolute;
	left:15px;
	bottom:0;
}
/*------------------------------------------------------LETTER J*/
.j .v1, .s .v1, .three .v3 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:0;
}
.j .v2 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:45px;
	bottom:0;
}
.j .v3 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:0;
}
.j .h1 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:45px;
	top:0;
}
.j .h2 {
	width:90px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
/*------------------------------------------------------LETTER K*/
.k .h1, .l .h1, .m .h1, .n .h1, .v .h1, .w .h1, .x .h1, .y .h1 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:0;
}
.k .h2, .m .h2, .m .h2, .p .h2, .r .h2, .w .h2 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
.k .v3, .r .v3 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:90px;
	top:0;
}
.k .v4, .r .v4 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:105px;
	bottom:0;
}
/*------------------------------------------------------LETTER L*/
.l .v1 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:0;
}
.l .v2 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:0;
}
.l .v3 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0;
}
.l .h2 {
	width:90px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
/*------------------------------------------------------LETTER M*/

.m .v3, .n .v3 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:45px;
	top:20px;
}
.m .v4, .n .v4 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:60px;
	top:40px;
}
.m .v5 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:75px;
	top:0px;
}
.m .v6 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:120px;
	bottom:0px;
}
.m .h3 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	top:0px;
}
/*------------------------------------------------------LETTER N*/

.n .v5 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	top:60px;
}
.n .v6 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:90px;
	top:0px;
}
/*------------------------------------------------------LETTER O*/

.o .v1, .q .v1, .zero .v1{
	width:15px;
	height:80px;
	background-color: white;
	position: absolute;
	left:0;
	bottom:20px;
}
.o .h1, .q .h1{
	width:90px;
	height:20px;
	background-color: white;
	position: absolute;
	left:15px;
	top:0;
}
.o .h2 {
	width:90px;
	height:20px;
	background-color: white;
	position: absolute;
	left:15px;
	bottom:0;
}
/*------------------------------------------------------LETTER P*/

.p .v3 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:90px;
	top:20px;
}
/*------------------------------------------------------LETTER Q*/

.q .h2 {
	width:120px;
	height:20px;
	background-color: white;
	position: absolute;
	left:15px;
	bottom:0;
}
.q .h3 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:20px;
}
/*------------------------------------------------------LETTER R*/

/*------------------------------------------------------LETTER S*/

.s .v2 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:45px;
	bottom:0;
}
.s .v3 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:0;
}
.s .v4 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:30px;
	top:0;
}
.s .v5 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:60px;
	top:0;
}
.s .v6, .t .v4 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:105px;
	top:0;
}
.s .h1 {
	width:90px;
	height:20px;
	position: absolute;
	background: white;
	top:0;
	left:30px;
}
/*------------------------------------------------------LETTER T*/

.t .v1, .one .v3, .three .v2, .seven .v1 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0;
	top:0;
}
.t .v2 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:30px;
	top:0;
}
.t .v3 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:60px;
	top:0;	
}
.t .h1 {
	width:120px;
	height:20px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.t .h2 {
	width:45px;
	height:20px;
	position: absolute;
	background: white;
	bottom: 0;
	left:30px;	
}
/*------------------------------------------------------LETTER U*/

.u .h1 {
	width:60px;
	height:20px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.u .v1 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:15px;
	top:0;
}
.u .v2 {
	width:15px;
	height:120px;
	background-color: white;
	position: absolute;
	left:45px;
	top:0;
}
.u .v3 {
	width:15px;
	height:100px;
	background-color: white;
	position:absolute;
	left:105px;
	bottom:20px;
}
/*------------------------------------------------------LETTER V*/

.v .h2 {
	width:60px;
	height:20px;
	position: absolute;
	background: white;
	bottom:0px;
	left:0px;
}
.v .h3, .w .h3 {
	width:30px;
	height:20px;
	position:absolute;
	background:white;
	bottom:20px;
	left:45px;
}
.v .h4 {
	width:30px;
	height:20px;
	position:absolute;
	background:white;
	bottom:40px;
	left:60px;
}
.v .h5 {
	width:30px;
	height:20px;
	position:absolute;
	background:white;
	bottom:60px;
	left:75px;
}
.v .h6 {
	width:30px;
	height:20px;
	position:absolute;
	background:white;
	bottom:80px;

	left:90px;
}
.v .h7 {
	width:30px;
	height:20px;
	position:absolute;
	background:white;
	bottom:100px;
	left:105px;
}
/*------------------------------------------------------LETTER W*/

.w .h4 {
	width:45px;
	height:20px;
	position:absolute;
	background:white;
	bottom:40px;
	left:60px;
}
.w .h5 {
	width:15px;
	height:20px;
	position:absolute;
	background:white;
	bottom:0px;
	left:105px;
}
.w .h6 {
	width:15px;
	height:20px;
	position:absolute;
	background:white;
	bottom:20px;
	left:90px;
}
.w .v3 {
	width:15px;
	height:80px;
	background-color: white;
	position:absolute;
	left:75px;
	bottom:40px;
}
.w .h7 {
	width:15px;
	height:120px;
	background-color: white;
	position:absolute;
	left:120px;
	bottom:0px;
}

/*------------------------------------------------------LETTER X*/

.x .v1, .y .v1 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:30px;
	top:0;
}
.x .v2 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0;
}
.x .v3 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:75px;
	top:0;
}
.x .v4, .y .v2 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:0;
}
.x .h2 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
.x .h3 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:0;
}
.x .h4 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:0;
}
.x .h5 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	top:0;
}
.x .h6, .z .h2, .two .h12 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:45px;
	bottom:40px;
}
.x .h7, .z .h3, .two .h13 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:60px;
	top:40px;
}
/*------------------------------------------------------LETTER Y*/

.y .v3 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:45px;
	bottom:0;
}
.y .v4 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:90px;
	top:0;
}
.y .h2 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:90px;
	top:0;
}
.y .h3 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:45px;
	top:40px;
}
.y .h4 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:45px;
	bottom: 0px;
}
/*------------------------------------------------------LETTER Z*/

.z .h4, .two .h3{
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	top:20px;
}
.z .h5, .two .h4{
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:20px;
}
.z .h6, .two .h5{
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:45px;
	top:20px;
}
.z .h7, .two .h6{
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:20px;
}
.z .h8, .two .h7 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:30px;
	top:40px;
}
.z .h9, .two .h8{
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:15px;
	bottom:40px;
}
.z .h10, .two .h9 {
	width:90px;
	height:20px;
	position: absolute;
	background: white;
	bottom:0;
	left:0px;
}
.z .h11, .two .h10 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:20px;
}
.z .h12, .two .h11 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:20px;
}
/*------------------------------------------------------ZERO*/

.zero .v2 {
	width:15px;
	height:80px;
	background-color: white;
	position: absolute;
	left:90px;
	bottom:20px;
}
.zero .h1, .eight .h1, .nine .h1, .question .h1 {
	height:20px;
	width:75px;
	background: white;
	position: absolute;
	left:15px;
	top:0;
}
.zero .h2, .eight .h3 {
	height:20px;
	width:75px;
	background: white;
	position: absolute;
	left:15px;
	bottom:0;
}
/*------------------------------------------------------ONE*/

.one .h1 {
	height:20px;
	width:60px;
	background: white;
	position: absolute;
	left:0px;
	top:0;
}
/*------------------------------------------------------TWO*/

.two .h1, .question .v1 {
	height:20px;
	width:15px;
	background: white;
	position: absolute;
	left:0px;
	top:20px;
}
.two .h2 {
	height:20px;
	width:60px;
	background: white;
	position: absolute;
	left:15px;
	top:0;
}
/*------------------------------------------------------THREE*/

.three .v4, .four .v2 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:75px;
	bottom:0px;
}
.three .v5, .four .v3 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:45px;
	bottom:0px;
}
.three .v6 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:40px;
}
/*------------------------------------------------------Four*/

.four .h1 {
	height:20px;
	width:45px;
	background: white;
	position: absolute;
	left:45px;
	top:0px;
}
.four .h2 {
	height:20px;
	width:45px;
	background: white;
	position: absolute;
	left:45px;
	bottom:0px;
}
.four .v1 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.four .h3 {
	width:60px;
	height:20px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:40px;
}
/*------------------------------------------------------five*/

.five .v1 {
	width:15px;
	height:80px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.five .h2 {
	width:90px;
	height:20px;
	position: absolute;
	background: white;
	bottom:40px;
	left:0px;
}
.five .v2 {
	width:15px;
	height:80px;
	background-color: white;
	position: absolute;
	left:30px;
	top:0px;
}
.five .v4, .six .v3 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:90px;
	top:0px;
}

/*------------------------------------------------------six*/

.six .h2 {
	width:75px;
	height:20px;
	position: absolute;
	background: white;
	bottom:40px;
	left:30px;
}
/*------------------------------------------------------seven*/

.seven .v2, .question .v2 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:60px;
	top:20px;
}
.seven .v3, .question .v3 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:90px;
	top:20px;
}
.seven .v4, .question .v4 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:45px;
	top:40px;
}
.seven .v5, .question .v5 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:75px;
	top:40px;
}
.seven .v6 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0px;
}
.seven .v7 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0px;
}
.seven .h2 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0px;
}
/*------------------------------------------------------eight*/

.eight .v1, .nine .v1 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:20px;	
}
.eight .v2 {
	width:15px;
	height:40px;
	background-color: white;
	position: absolute;
	left:90px;
	top:20px;
}
.eight .h2 {
	height:20px;
	width:75px;
	background: white;
	position: absolute;
	left:15px;
	top:60px;
}
.eight .v3 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:20px;
}
.eight .v4 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:90px;
	bottom:20px;
}
/*------------------------------------------------------nine*/

.nine .h2 {
	height:20px;
	width:60px;
	background: white;
	position: absolute;
	left:15px;
	top:60px;
}
.nine .v2 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:90px;
	bottom:0px;
}
.nine .v3 {
	width:15px;
	height:100px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0px;
}
.nine .h3 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0px;
}
/*------------------------------------------------------period*/
.period .v1, .comma .v1 {
	width:15px;
	height:20px;
	background: white;
	position: absolute;
	left: 0;
	bottom: 0;
}
/*------------------------------------------------------comma*/

.comma .v2 {
	width:15px;
	height:40px;
	background: white;
	position: absolute;
	left:15px;
	bottom: -20px;
}

/*------------------------------------------------------question mark*/
.question .v6 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:60px;
	top:60px;
}
.question .v7 {
	width:15px;
	height:20px;
	background-color: white;
	position: absolute;
	left:30px;
	top:60px;
}
.question .h2 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0px;
}
/*------------------------------------------------------exclamation mark*/

.exclamation .h1 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.exclamation .h2 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:0px;
	top:60px;
}
.exclamation .h3 {
	width:45px;
	height:20px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:0px;

}
.exclamation .v1 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.exclamation .v2 {
	width:15px;
	height:60px;
	background-color: white;
	position: absolute;
	left:30px;
	top:0px;
}
/*------------------------------------------------------right quote*/

.r-quote .v1 {
	width:15px;
	height:40px;
	background: white;
	position: absolute;
	left: 0px;
	top: 0px;
}
.r-quote .v2 {
	width:15px;
	height:20px;
	background: white;
	position: absolute;
	left:15px;
	top:20px;
}
.r-quote .v3 {
	width:15px;
	height:40px;
	background: white;
	position: absolute;
	left:45px;
	top: 0px;
}
.r-quote .v4 {
	width:15px;
	height:20px;
	background: white;
	position: absolute;
	left:60px;
	top:20px;
}
/*------------------------------------------------------left quote*/

.l-quote .v1 {
	width:15px;
	height:40px;
	background: white;
	position: absolute;
	left:15px;
	top: 0px;
}
.l-quote .v2 {
	width:15px;
	height:20px;
	background: white;
	position: absolute;
	left: 0px;
	top:20px;
}
.l-quote .v3 {
	width:15px;
	height:40px;
	background: white;
	position: absolute;
	left:60px;
	top: 0px;
}
.l-quote .v4 {
	width:15px;
	height:20px;
	background: white;
	position: absolute;
	left:45px;
	top:20px;
}
/*------------------------------------------------------space*/

.space {
	width:50px;
	height:120px;
}

