* {
	box-sizing:border-box;
}
body {
	background: black;
}
div {
/*	-webkit-transform:scale(.5,.5);
	-moz-transform:scale(.5,.5);
	transform:scale(.5,.5);*/
}
img {
	height:240px;
	width:auto;
}
#container {
	width:1000px;
	height:auto;
	padding:30px;
	margin:0 auto;
}
.letter-definition {
    display: none;
}
.hand {
	height:auto;
	width:80px;
	display:inline-block;
	margin-right: 120px;
	margin-bottom: 50px;
}
.overlay {
	opacity:1;
	background:black;
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
}
.hand:hover .overlay {
	opacity:1;
}
/*------------------------------------------------------LETTER A*/

.letter {
	-webkit-transform:scale(.5,.5);
	-moz-transform:scale(.5,.5);
	transform:scale(.5,.5);
	width:210px;
	height:240px;
	display:inline-block;
	position: relative;
}
.a .v1, .b .v1, .d .v1, .g .v1, .c .v1, .f .v1, .k .v1, .m .v1, .n .v1, .p .v1, .r .v1, .v .v1, .w .v1, .six .v1{
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:0;
	bottom:0;
}
.a .v2, .b .v2, .d .v2, .g .v2, .e .v2, .c .v2, .f .v2, .k .v2, .m .v2, .n .v2, .o .v2, .p .v2, .q .v2, .r .v2, .v .v2, .w .v2, .six .v2{
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0;
}
.a .v3, .o .v3, .q .v3{
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	right:0;
	bottom:0;
}
.a .h1 {
	width:120px;
	height:40px;
	position: absolute;
	background: white;
	top:0;
	left:60px;
}
.a .h2, .b .h2, .p .h3{
	width:120px;
	height:40px;
	position: absolute;
	background: white;
	top:120px;
	left:60px;
}
.a .h3, .f .h3 {
	width:90px;
	height:40px;
	position: absolute;
	background: white;
	bottom:0px;
	left:0px;
}
/*------------------------------------------------------LETTER B*/

.b .v3 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	right:0;
	top:40px;
}
.b .v4 {
	width:30px;
	height:80px;
	position: absolute;
	left:210px;
	top:120px;
	background: white;
}
.b .h1, .d .h1, .g .h1, .i .h1, .p .h1, .z .h1, .three .h1, .five .h1, .six .h1 {
	width:180px;
	height:40px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.b .h3, .e .h3, .u .h2, .one .h2 {
	width:210px;
	height:40px;
	position: absolute;
	background: white;
	bottom:0;
	left:0;
}
/*------------------------------------------------------LETTER C*/

.c .h1, .f .h1, .r .h1, .seven .h1 {
	width:210px;
	height:40px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.c .v3 {
	width:30px;
	height:80px;
	position: absolute;
	background: white;
	top: 0;
	left: 180px;
}
.c .v4, .r .v4 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left:210px;
	bottom:0;
}
/*------------------------------------------------------LETTER D*/

.d .v3 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:180px;
	top:40px;
}
.d .v4 {
	width:30px;
	height:80px;
	background-color: white;
	position: absolute;
	left:210px;
	top:80px;
}
.d .v5, .five .v3 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:180px;
	top:160px;
}
.d .h3, .s .h2, .three .h2, .five .h3 {
	width:180px;
	height:40px;
	position: absolute;
	background: white;
	bottom:0;
	left:0px;
}
/*------------------------------------------------------LETTER E*/

.e .v1{
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:0;
	bottom:0;
}
.e .h1 {
	width:90px;
	height:40px;
	position: absolute;
	background: white;
	top:0;
	left:60px;
}
.e .h2, .f .h2, .k .h3, .r .h3 {
	width:120px;
	height:40px;
	position: absolute;
	background: white;
	top:120px;
	left:60px;
}
/*------------------------------------------------------LETTER F*/


/*------------------------------------------------------LETTER G*/

.g .h2 {
	width:80px;
	height:40px;
	position: absolute;
	background: white;
	top:120px;
	right:0;
}
.g .h3, .c .h2, .six .h3{
	width:240px;
	height:40px;
	position: absolute;
	background: white;
	bottom:0;
	left:0px;
}
.g .v3, .six .v4 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left:210px;
	bottom:0;
}
/*------------------------------------------------------LETTER H*/

.h .v1 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0;
}
.h .v2 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:90px;
	bottom:0;
}
.h .v3 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:210px;
	bottom:0;
}
.h .h1 {
	width:60px;
	height:40px;
	background: white;
	position: absolute;
	left:30px;
	top:0;
}
.h .h2 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:0px;
	top:120px;
}
.h .h3 {
	width:60px;
	height:40px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0px;
}
.h .h4 {
	width:150px;
	height:40px;
	background-color: white;
	position: absolute;
	left:120px;
	top:120px;
}
/*------------------------------------------------------LETTER I*/

.i .v1, .one .v1 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0;
}
.i .v2, .one .v2 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:120px;
	bottom:0;
}
.i .h2 {
	width: 180px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 30px;
	bottom:0;
}
/*------------------------------------------------------LETTER J*/

.j .v1, .s .v1, .three .v3 {
	width: 30px;
	height:80px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:0;
}
.j .v2 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:90px;
	bottom:0;
}
.j .v3 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:150px;
	bottom:0;
}
.j .h1 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 90px;
	top:0;
}
.j .h2 {
	width: 180px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
/*------------------------------------------------------LETTER K*/
#k {
	background: url('images/k-hand.jpg')
}
.k .h1, .l .h1, .m .h1, .n .h1, .v .h1, .w .h1, .x .h1, .y .h1 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:0;
}
.k .h2, .m .h2, .m .h2, .p .h2, .r .h2, .w .h2 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
.k .v3, .r .v3 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 180px;
	top:0;
}
.k .v4, .r .v4 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 210px;
	bottom:0;
}
/*------------------------------------------------------LETTER L*/
#l {
	background: url('images/l-hand.jpg')
}
.l .v1 {
	width: 30px;
	height:80px;
	background-color: white;
	position: absolute;
	left:150px;
	bottom:0;
}
.l .v2 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:0;
}
.l .v3 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0;
}
.l .h2 {
	width: 180px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
/*------------------------------------------------------LETTER M*/
#m {
	background: url('images/m-hand.jpg')
}
.m .v3, .n .v3 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:90px;
	top:40px;
}
.m .v4, .n .v4 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:120px;
	top:80px;
}
.m .v5 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:150px;
	top:0px;
}
.m .v6 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:240px;
	bottom:0px;
}
.m .h3 {
	width:90px;
	height:40px;
	background-color: white;
	position: absolute;
	left:150px;
	top:0px;
}
/*------------------------------------------------------LETTER N*/
#n {
	background: url('images/n-hand.jpg')
}
.n .v5 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:150px;
	top:120px;
}
.n .v6 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left:180px;
	top:0px;
}
/*------------------------------------------------------LETTER O*/
#o {
	background: url('images/o-hand.jpg')
}
.o .v1, .q .v1, .zero .v1{
	width:30px;
	height:160px;
	background-color: white;
	position: absolute;
	left:0;
	bottom:40px;
}
.o .h1, .q .h1{
	width:180px;
	height:40px;
	background-color: white;
	position: absolute;
	left:30px;
	top:0;
}
.o .h2 {
	width:180px;
	height:40px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0;
}
/*------------------------------------------------------LETTER P*/
#p {
	background: url('images/p-hand.jpg')
}
.p .v3 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left:180px;
	top:40px;
}
/*------------------------------------------------------LETTER Q*/
#q {
	background: url('images/q-hand.jpg')
}
.q .h2 {
	width:240px;
	height:40px;
	background-color: white;
	position: absolute;
	left:30px;
	bottom:0;
}
.q .h3 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:150px;
	bottom:40px;
}
/*------------------------------------------------------LETTER R*/
#r {
	background: url('images/r-hand.jpg')
}
/*------------------------------------------------------LETTER S*/
#s {
	background: url('images/s-hand.jpg')
}
.s .v2 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 90px;
	bottom:0;
}
.s .v3 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 150px;
	bottom:0;
}
.s .v4 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 60px;
	top:0;
}
.s .v5 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 120px;
	top:0;
}
.s .v6, .t .v4 {
	width:30px;
	height:80px;
	background-color: white;
	position: absolute;
	left: 210px;
	top:0;
}
.s .h1 {
	width:180px;
	height:40px;
	position: absolute;
	background: white;
	top:0;
	left:60px;
}
/*------------------------------------------------------LETTER T*/
#t {
	background: url('images/t-hand.jpg')
}
.t .v1, .one .v3, .three .v2, .seven .v1 {
	width:30px;
	height:80px;
	background-color: white;
	position: absolute;
	left: 0;
	top:0;
}
.t .v2 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left: 60px;
	top:0;
}
.t .v3 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left: 120px;
	top:0;	
}
.t .h1 {
	width:240px;
	height:40px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.t .h2 {
	width: 90px;
	height: 40px;
	position: absolute;
	background: white;
	bottom: 0;
	left: 60px;	
}
/*------------------------------------------------------LETTER U*/
#u {
	background: url('images/u-hand.jpg')
}
.u .h1 {
	width:120px;
	height:40px;
	position: absolute;
	background: white;
	top:0;
	left:0px;
}
.u .v1 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left: 30px;
	top:0;
}
.u .v2 {
	width:30px;
	height:240px;
	background-color: white;
	position: absolute;
	left: 90px;
	top:0;
}
.u .v3 {
	width:30px;
	height:200px;
	background-color: white;
	position:absolute;
	left:210px;
	bottom:40px;
}
/*------------------------------------------------------LETTER V*/
#v {
	background: url('images/v-hand.jpg')
}
.v .h2 {
	width:120px;
	height:40px;
	position: absolute;
	background: white;
	bottom:0px;
	left:0px;
}
.v .h3, .w .h3 {
	width:60px;
	height:40px;
	position:absolute;
	background:white;
	bottom:40px;
	left:90px;
}
.v .h4 {
	width:60px;
	height:40px;
	position:absolute;
	background:white;
	bottom:80px;
	left:120px;
}
.v .h5 {
	width:60px;
	height:40px;
	position:absolute;
	background:white;
	bottom:120px;
	left:150px;
}
.v .h6 {
	width:60px;
	height:40px;
	position:absolute;
	background:white;
	bottom:160px;
	left:180px;
}
.v .h7 {
	width:60px;
	height:40px;
	position:absolute;
	background:white;
	bottom:200px;
	left:210px;
}
/*------------------------------------------------------LETTER W*/
#w {
	background: url('images/w-hand.jpg')
}
.w .h4 {
	width:90px;
	height:40px;
	position:absolute;
	background:white;
	bottom:80px;
	left:120px;
}
.w .h5 {
	width:30px;
	height:40px;
	position:absolute;
	background:white;
	bottom:0px;
	left:210px;
}
.w .h6 {
	width:30px;
	height:40px;
	position:absolute;
	background:white;
	bottom:40px;
	left:180px;
}
.w .v3 {
	width:30px;
	height:160px;
	background-color: white;
	position:absolute;
	left:150px;
	bottom:80px;
}
.w .h7 {
	width:30px;
	height:240px;
	background-color: white;
	position:absolute;
	left:240px;
	bottom:0px;
}

/*------------------------------------------------------LETTER X*/
#x {
	background: url('images/x-hand.jpg')
}
.x .v1, .y .v1 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 60px;
	top:0;
}
.x .v2 {
	width:30px;
	height:80px;
	background-color: white;
	position: absolute;
	left: 60px;
	bottom:0;
}
.x .v3 {
	width:30px;
	height:80px;
	background-color: white;
	position: absolute;
	left: 150px;
	top:0;
}
.x .v4, .y .v2 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 150px;
	bottom:0;
}
.x .h2 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:0;
}
.x .h3 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:0;
}
.x .h4 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 150px;
	bottom:0;
}
.x .h5 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 150px;
	top:0;
}
.x .h6, .z .h2, .two .h12 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 90px;
	bottom:80px;
}
.x .h7, .z .h3, .two .h13 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 120px;
	top:80px;
}
/*------------------------------------------------------LETTER Y*/
#y {
	background: url('images/y-hand.jpg')
}
.y .v3 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 90px;
	bottom:0;
}
.y .v4 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 180px;
	top:0;
}
.y .h2 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 180px;
	top:0;
}
.y .h3 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 90px;
	top:80px;
}
.y .h4 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 90px;
	bottom: 0px;
}
/*------------------------------------------------------LETTER Z*/
#z {
	background: url('images/z-hand.jpg')
}
.z .h4, .two .h3{
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 150px;
	top:40px;
}
.z .h5, .two .h4{
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 60px;
	bottom:40px;
}
.z .h6, .two .h5{
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 90px;
	top:40px;
}
.z .h7, .two .h6{
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:40px;
}
.z .h8, .two .h7 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 60px;
	top:80px;
}
.z .h9, .two .h8{
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 30px;
	bottom:80px;
}
.z .h10, .two .h9 {
	width:180px;
	height:40px;
	position: absolute;
	background: white;
	bottom:0;
	left:0px;
}
.z .h11, .two .h10 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:40px;
}
.z .h12, .two .h11 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 150px;
	bottom:40px;
}
/*------------------------------------------------------ZERO*/
#zero {
	background: url('images/zero-hand.jpg')
}
.zero .v2 {
	width:30px;
	height:160px;
	background-color: white;
	position: absolute;
	left:180px;
	bottom:40px;
}
.zero .h1, .eight .h1, .nine .h1, .question .h1 {
	height:40px;
	width:150px;
	background: white;
	position: absolute;
	left:30px;
	top:0;
}
.zero .h2, .eight .h3 {
	height:40px;
	width:150px;
	background: white;
	position: absolute;
	left:30px;
	bottom:0;
}
/*------------------------------------------------------ONE*/
#one {
	background: url('images/one-hand.jpg')
}
.one .h1 {
	height:40px;
	width:120px;
	background: white;
	position: absolute;
	left:0px;
	top:0;
}
/*------------------------------------------------------TWO*/
#two {
	background: url('images/two-hand.jpg')
}
.two .h1, .question .v1 {
	height:40px;
	width:30px;
	background: white;
	position: absolute;
	left:0px;
	top:40px;
}
.two .h2 {
	height:40px;
	width:120px;
	background: white;
	position: absolute;
	left:30px;
	top:0;
}
/*------------------------------------------------------THREE*/
#three {
	background: url('images/three-hand.jpg')
}
.three .v4, .four .v2 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:150px;
	bottom:0px;
}
.three .v5, .four .v3 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:90px;
	bottom:0px;
}
.three .v6 {
	width:30px;
	height:40px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:80px;
}
/*------------------------------------------------------Four*/
#four {
	background: url('images/four-hand.jpg')
}
.four .h1 {
	height:40px;
	width:90px;
	background: white;
	position: absolute;
	left:90px;
	top:0px;
}
.four .h2 {
	height:40px;
	width:90px;
	background: white;
	position: absolute;
	left:90px;
	bottom:0px;
}
.four .v1 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.four .h3 {
	width:120px;
	height:40px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:80px;
}
/*------------------------------------------------------five*/
#five {
	background: url('images/five-hand.jpg')
}
.five .v1 {
	width:30px;
	height:160px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.five .h2 {
	width:180px;
	height:40px;
	position: absolute;
	background: white;
	bottom:80px;
	left:0px;
}
.five .v2 {
	width:30px;
	height:160px;
	background-color: white;
	position: absolute;
	left:60px;
	top:0px;
}
.five .v4, .six .v3 {
	width:30px;
	height:80px;
	background-color: white;
	position: absolute;
	left:180px;
	top:0px;
}

/*------------------------------------------------------six*/
#six {
	background: url('images/six-hand.jpg')
}
.six .h2 {
	width:150px;
	height:40px;
	position: absolute;
	background: white;
	bottom:80px;
	left:60px;
}
/*------------------------------------------------------seven*/
#seven {
	background: url('images/seven-hand.jpg')
}
.seven .v2, .question .v2 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 120px;
	top:40px;
}
.seven .v3, .question .v3 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 180px;
	top:40px;
}
.seven .v4, .question .v4 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 90px;
	top:80px;
}
.seven .v5, .question .v5 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 150px;
	top:80px;
}
.seven .v6 {
	width: 30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 60px;
	bottom:0px;
}
.seven .v7 {
	width: 30px;
	height:120px;
	background-color: white;
	position: absolute;
	left: 120px;
	bottom:0px;
}
.seven .h2 {
	width: 90px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 60px;
	bottom:0px;
}
/*------------------------------------------------------eight*/
#eight {
	background: url('images/eight-hand.jpg')
}
.eight .v1, .nine .v1 {
	width: 30px;
	height:80px;
	background-color: white;
	position: absolute;
	left: 0px;
	top:40px;	
}
.eight .v2 {
	width:30px;
	height:80px;
	background-color: white;
	position: absolute;
	left:180px;
	top:40px;
}
.eight .h2 {
	height:40px;
	width:150px;
	background: white;
	position: absolute;
	left:30px;
	top:120px;
}
.eight .v3 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 0px;
	bottom:40px;
}
.eight .v4 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 180px;
	bottom:40px;
}
/*------------------------------------------------------nine*/
#nine {
	background: url('images/nine-hand.jpg')
}
.nine .h2 {
	height:40px;
	width:120px;
	background: white;
	position: absolute;
	left:30px;
	top:120px;
}
.nine .v2 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:180px;
	bottom:0px;
}
.nine .v3 {
	width:30px;
	height:200px;
	background-color: white;
	position: absolute;
	left:120px;
	bottom:0px;
}
.nine .h3 {
	width:90px;
	height:40px;
	background-color: white;
	position: absolute;
	left:120px;
	bottom:0px;
}
/*------------------------------------------------------period*/
.period .v1, .comma .v1 {
	width:30px;
	height: 40px;
	background: white;
	position: absolute;
	left: 0;
	bottom: 0;
}
/*------------------------------------------------------comma*/

.comma .v2 {
	width:30px;
	height: 80px;
	background: white;
	position: absolute;
	left: 30px;
	bottom: -40px;
}

/*------------------------------------------------------question mark*/
.question .v6 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 120px;
	top:120px;
}
.question .v7 {
	width: 30px;
	height:40px;
	background-color: white;
	position: absolute;
	left: 60px;
	top:120px;
}
.question .h2 {
	width:90px;
	height:40px;
	background-color: white;
	position: absolute;
	left:60px;
	bottom:0px;
}
/*------------------------------------------------------exclamation mark*/

.exclamation .h1 {
	width:90px;
	height:40px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.exclamation .h2 {
	width:90px;
	height:40px;
	background-color: white;
	position: absolute;
	left:0px;
	top:120px;
}
.exclamation .h3 {
	width:90px;
	height:40px;
	background-color: white;
	position: absolute;
	left:0px;
	bottom:0px;

}
.exclamation .v1 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left:0px;
	top:0px;
}
.exclamation .v2 {
	width:30px;
	height:120px;
	background-color: white;
	position: absolute;
	left:60px;
	top:0px;
}
/*------------------------------------------------------right quote*/

.r-quote .v1 {
	width:30px;
	height: 80px;
	background: white;
	position: absolute;
	left: 0px;
	top: 0px;
}
.r-quote .v2 {
	width:30px;
	height: 40px;
	background: white;
	position: absolute;
	left: 30px;
	top: 40px;
}
.r-quote .v3 {
	width:30px;
	height: 80px;
	background: white;
	position: absolute;
	left: 90px;
	top: 0px;
}
.r-quote .v4 {
	width:30px;
	height: 40px;
	background: white;
	position: absolute;
	left: 120px;
	top: 40px;
}
/*------------------------------------------------------left quote*/

.l-quote .v1 {
	width:30px;
	height: 80px;
	background: white;
	position: absolute;
	left: 30px;
	top: 0px;
}
.l-quote .v2 {
	width:30px;
	height: 40px;
	background: white;
	position: absolute;
	left: 0px;
	top: 40px;
}
.l-quote .v3 {
	width:30px;
	height: 80px;
	background: white;
	position: absolute;
	left: 120px;
	top: 0px;
}
.l-quote .v4 {
	width:30px;
	height: 40px;
	background: white;
	position: absolute;
	left: 90px;
	top: 40px;
}

