body {
    background-color:#FF5252;
    font-family:'Proxima N W01 Light';

}
img {
	max-width: 100%;
}
.container {
	width: 600px;
    background-color:white;
    padding: 25px;
    margin: 0 auto;	
}
#table-of-contents a {
	color:lime;
	background-color: black;
	text-decoration: none;
	transition-duration:.5s;
	transition-timing-function:ease-out;
}
#table-of-contents a:hover {
	color:white;
	background-color:red;
	transition-duration:.2s;
	transition-timing-function:ease-in;
}
#table-of-contents li {
	margin-bottom:0;
}
ul {
	list-style-type:none;
}
li {
	margin-bottom:1em;
}
h1 {
font-family:'Proxima N W01 Black';
}