* {box-sizing:border-box;}
p {
	margin-top:0;
}
body {
    background-color:#65B563;
    color:white;
font-family: 'Open Sans', sans-serif;
}
img {
	max-width: 100%;
	border:5px solid	 white;
	padding:5px;
}
.container {
	max-width: 900px;
    /*background-color:white;*/
    padding: 25px;
    margin: 0 auto;	
    border:10px solid white;
    /*border-top: 10px solid yellow;
    border-bottom: 10px solid yellow;*/

}
#table-of-contents {
	list-style: none;
}
#table-of-contents li {
	float:left;
	margin-right:10px;
}
#table-of-contents a {
	color:white;
	text-decoration: none;
	padding:5px 10px;
	border:1px dashed white;
	transition-duration:.5s;
	transition-timing-function:ease-out;
}
#table-of-contents a:hover {
	border:1px solid white;
	transition-duration:.2s;
	transition-timing-function:ease-in;
}
#table-of-contents li {
	margin-bottom:0;
}
ul {
	list-style-type:none;
}
li {
	margin-bottom:1em;
}
h1 {
margin-top:0;
text-align: center;
}
.clear {
	clear:both;
}