.nav {
	display: table;
	vertical-align: middle;
	position:fixed;
	background-color: rgba(0,0,0,.8);
	color:white;
	padding:10px 10px;
	list-style: none;
	text-decoration: none;
/*	width:100%;
*/	left:0%;
	bottom:0%;
	text-align: center;
	font-family:'Avenir Next W01 Light';
	font-size: 16px;
	animation:none;
	line-height: 1.2px;
	letter-spacing: 0;

}
.nav li {
	float:left;
	margin-right:15px;
	text-decoration: none;
	list-style: none;
	text-align: center;
}
.nav a {
	color:white;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.nav a:hover {
	color:#FF675E;
}