body {
	font-family:'Museo Sans W03_100';
	line-height: 1.4em;
	font-size: 16px;
	letter-spacing: .5px;
}
a {
	text-decoration: none;
	font-family:'Museo Sans W03_500';	
}
a:visited {
	color:black;
}
a:hover {
	color:#FF675E;
}
.levels {
	list-style:none;
}
.float {
	float:left;
	margin-right:20px;
}
#var {
	width:800px;
	margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-weight: normal;		
	font-family:'Museo Sans W03_500';
}
h1 {
	text-transform: uppercase;
	color:;

}
h2 {

}
h3 {
	text-transform: capitalize;
}
.container {
	position:absolute;
	top:45%;
	left:50%;
	transform:translate(-50%,-50%);
	width:600px;
	height:auto;
/*	margin-top: 30px;*/
}
.variations a {
	color:#BE3E3D;
}
.variations a:hover {
	color:#FF675E;
}