body {
	font-family:'Avenir Next W01 Light';
	line-height: 1.4em;
	font-size: 16px;
	letter-spacing: .5px;
}
a {
	text-decoration: none;
	font-family:'AvenirNextLTW01-Medium';

}
a:link {
	color:black;
}
a:hover {
	color:#FF675E;
}
.levels {
	list-style:none;
}
.float {
	float:left;
	margin-right:20px;
}
#var {
	width:800px;
	margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-weight: normal;
	font-family:'Avenir Next LT W01 Bold';
	text-align: center;		
}
h1 {
	text-transform: uppercase;
	font-family:'Avenir Next LT W01 Bold';
}
h2 {
	font-family:'AvenirNextLTW01-Medium';

}
h3 {
	text-transform: capitalize;
	font-family:'AvenirNextLTW01-Medium';

}
#one {

}
#one a:hover {

}
#two {

}
#two a:hover {

}
#three {

}
#three a:hover {

}
#four {

}
#four a:hover {

}
#five {

}
#five a:hover {
	background-color:white;
	-webkit-transition:pulse 2s pulsate infinite;
	-moz-transition:pulse 2s pulsate infinite;
	transition:pulse 2s pulsate infinite;
}
@keyframes pulse {
	0% {background-color: white;}
	20% {background-color: #33CCCC;}
	80% {background-color: #FF3333;}
	100% {background-color: white;}
}
.container {
	width:600px;
	height:auto;
	padding-top: 35px;
	margin:0 auto;
}
.variations a {
	color:#BE3E3D;
}
.variations a:hover {
	color:#FF675E;
}