body {
	font-family:'Avenir Next W01 Light';
	line-height: 1.4em;
	font-size: 16px;
	letter-spacing: .5px;
}
a {
	text-decoration: none;
	font-family:'AvenirNextLTW01-Medium';

}
a:visited {
	color:black;
}
a:hover {
	color:#FF675E;
}
.levels {
	list-style:none;
}
.float {
	float:left;
	margin-right:20px;
}
#var {
	width:800px;
	margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-weight: normal;
	font-family:'Avenir Next LT W01 Bold';
	text-align: center;		
}
h1 {
	text-transform: uppercase;
	font-family:'Avenir Next LT W01 Bold';
}
h2 {
	font-family:'AvenirNextLTW01-Medium';

}
h3 {
	text-transform: capitalize;
	font-family:'AvenirNextLTW01-Medium';

}
.container {
	width:600px;
	height:auto;
	padding-top: 35px;
	margin:0 auto;
}
.variations a {
	color:#BE3E3D;
}
.variations a:hover {
	color:#FF675E;
}