body { 
	background: red;
	font-family: 'Helvetica';
	font-size: 30px; 
	color:white;
}
.box {
	width:500px;
	height:240px;
	background-color: #24febb;
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}
.text {
	width:500px;
	height:240px;
	padding:20px;
}

@media screen and (max-width: 1024px) {
  body { 
  	background: blue;
  	color:red;
  	font-family: 'Futura';
  	font-size: 30px;
  }
  .box {
	width:500px;
	height:240px;
	background-color: black;
}

}

@media screen and (max-width: 768px) {
  body { 
  	background: cyan; 
  	color:yellow;
  	font-family: 'Gill Sans';
  	font-size: 30px;
  }
  .box {
	width:500px;
	height:240px;
	background-color: red;
}

}

@media screen and (max-width: 600px) {
  body { 
  	background: yellow; 
  	color:blue;
  	font-family: 'Garamond';
  	font-size: 30px;
  }
    .box {
	width:500px;
	height:240px;
	background-color: green;
}
}

@media screen and (max-width: 480px) {
  body { 
  	background: green; 
  	color:black;
  	font-family: cursive;
  	font-size: 30px;
  }
      .box {
	width:500px;
	height:240px;
	background-color: white;
}
}

@media screen and (max-width: 320px) {
  body { 
  	background: magenta;
  	font-family: 'Lucida Sans'; 
  }
}