* {
	box-sizing:border-box;
}
/*font-family:'Proxima N W01 Light';
font-family:'Proxima N W01 Reg';
font-family:'Proxima N W01 Xbold';*/
.container {
	position: absolute;
	left: 100px;
	width:100%;
	padding:10px;
}
body {
	margin:0;
	background: black;
	color:#AAAAAA;
	height:auto;
	font-size: 18px;
	overflow-x:hidden; 
}
.nav {
	position: fixed;
	height: 100vh;
	width: 100px;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	background: black;
	font-family:'Proxima N W01 Xbold';
}
.nav li {
	width:100px;
	height:auto;
	padding: 10px 15px;
	list-style: none;
}
.nav li:hover {
	background: #33B9FF;
	color: white;
	cursor: pointer;
}
.video-screen {
	width:85vw;
	height:auto;
	background: black;
}
.loading {
	transform:scale(.11);
}
.movie {
	display: inline-block;
	height: 258px;
	width: 150px;
	padding:0;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.movie img {
	position: absolute;
	top: 0;
	left: 0;
}
.title {
	height:35px;
	width:150px;
/*	background: lime;
*/	position: absolute;
	bottom: 0;
	left: 0;
	font-family:'Proxima N W01 Light';
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
		-webkit-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	transition:.2s ease-out;
}
.movie:hover {
	cursor: pointer;
}
.overlay:hover{
	opacity:0;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
	transition:.2s ease-in;
}
.overlay:hover ~ .title {
	color:white;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
	transition:.2s ease-in;
}

.overlay {
	top:0;
	left:0;
	bottom:35px;
	right:0;
	position: absolute;
	background: rgba(0,0,0,.5);
	z-index: 99;
		-webkit-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	transition:.2s ease-out;
}