* {
	box-sizing:border-box;
}
/*font-family:'Proxima N W01 Light';
font-family:'Proxima N W01 Reg';
font-family:'Proxima N W01 Xbold';*/
.container {
	position: absolute;
	left: 120px;
	width:100%;
	padding:10px;
}
body {
	margin:0;
	background: black;
	color:#AAAAAA;
	height:auto;
	font-size: 16px;
	overflow-x:hidden; 
}
h1 {
	font-family:'Proxima N W01 Xbold';
	font-weight: normal;
	font-size: 16px;
	color:#33B9FF;
}
#mobile-nav-button {
	position: fixed;
	background: black;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	z-index: 99;
	display: none;
	color: #33B9FF;
	font-size: 26px;
	text-align: center;
}
#mobile-nav {
	display: none;
}
.nav {
	position: fixed;
	height: 100vh;
	width: 120px;
	left: 0;
	top: 0;
	margin: 0;
	padding: 5px;
	background: black;
	font-family:'Proxima Nova W01 Medium';
}
.nav li {
	width:100px;
	height:auto;
	padding: 7px 15px;
	list-style: none;
	font-size: 14px;
	-webkit-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	transition:.2s ease-out;
}
.nav li:hover {
	color: #33B9FF;
	cursor: pointer;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
	transition:.2s ease-in;
}
.nav li h1:hover {
	pointer-effects:none;
}
.loading {
	transform:scale(.11);
}
.movie {
	display: inline-block;
	height: 258px;
	width: 150px;
	padding:0;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.movie img {
	position: absolute;
	top: 0;
	left: 0;
}
.title {
	color:#CCCCCC;
	height:35px;
	width:150px;
/*	background: lime;
*/	position: absolute;
bottom: 0;
left: 0;
font-family:'Proxima N W01 Smbd';
vertical-align: middle;
font-size: 14px;
/*	text-align: center;
*/	padding-top: 7px;
-webkit-transition:.2s ease-out;
-moz-transition:.2s ease-out;
transition:.2s ease-out;
}
.movie:hover {
	cursor: pointer;
}
.overlay:hover{
	opacity:0;
	-webkit-transition:.2s ease-in;
	-moz-transition:.2s ease-in;
	transition:.2s ease-in;
}
.overlay:hover ~ .title {
/*	color:white;
*/	color: #33B9FF;
-webkit-transition:.2s ease-in;
-moz-transition:.2s ease-in;
transition:.2s ease-in;
}

.overlay {
	top:0;
	left:0;
	bottom:35px;
	right:0;
	position: absolute;
	background: rgba(0,0,0,.5);
	z-index: 99;
	-webkit-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	transition:.2s ease-out;
}
/*-------------------------------------------------------LOADING SCREEN---*/
.video-screen {
	height:500px;
	width:800px;
	position: absolute;
	top:45%;
	left:50%;
	margin:0 auto;
	background: #161616;
	transform:translate(-50%,-50%);

}
.video-bar {
	width:600px;
	height:30px;
	margin:0;
	position: absolute;
	top: 75%;
	left: 50%;
	transform:translate(-50%,-50%);
	padding:8px;
	color:#898989;
	white-space: nowrap;
}
.load-bar {
	width:500px;
	height: 2px;
	background: #898989;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
}
/*-------------------------------------------------------LOADING GIF---*/

.spinner {
	position: absolute;
	left:50%;
	top:30%;
	transform:translate(-50%,-50%);
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #33B9FF;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	20% { -webkit-transform: scaleY(1.0) }

}

@keyframes sk-stretchdelay {
	0%, 40%, 100% { 
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
		}  20% { 
			transform: scaleY(1.0);
			-webkit-transform: scaleY(1.0);
		}
	}
	/*-------------------------------------------------------BUTTONS---*/
	.button {
		display: inline-block;
		margin-right: 10px;
	}
	#play {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 7.5px solid transparent;
		border-left: 15px solid #898989;
		border-bottom: 7.5px solid transparent;
		-webkit-transition:.1s ease-out;
		-moz-transition:.1s ease-out;
		transition:.1s ease-out;
	}
	#play:hover {
		border-left: 15px solid #33B9FF;
		-webkit-transition:.1s ease-in;
		-moz-transition:.1s ease-in;
		transition:.1s ease-in;
		cursor: pointer;
	}
	#ff {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 7.5px solid transparent;
		border-left: 7.5px solid #898989;
		border-bottom: 7.5px solid transparent;
		-webkit-transition:.1s ease-out;
		-moz-transition:.1s ease-out;
		transition:.1s ease-out;
	}
	#ff-container {
		display: inline-block;
	}
	#ff:hover,
	#ff-container:hover #ff {
		border-left: 7.5px solid #33B9FF;
		-webkit-transition:.1s ease-in;
		-moz-transition:.1s ease-in;
		transition:.1s ease-in;
		cursor: pointer;
	}
	#rw {
		display: inline-block;
		width: 0;
		height: 0;
		border-top: 7.5px solid transparent;
		border-right: 7.5px solid #898989;
		border-bottom: 7.5px solid transparent;
		-webkit-transition:.1s ease-out;
		-moz-transition:.1s ease-out;
		transition:.1s ease-out;
	}
	#rw-container {
		display: inline-block;
	}
	#rw:hover,
	#rw-container:hover #rw {
		border-right: 7.5px solid #33B9FF;
		-webkit-transition:.1s ease-in;
		-moz-transition:.1s ease-in;
		transition:.1s ease-in;
		cursor: pointer;
	}
	.icon:hover .icon-volume-rectangle, .icon:hover .icon-volume-line {
		background-color: #33B9FF;
	}
	.icon:hover .icon-volume-triangle {
		border-right-color: #33B9FF;
	}
	.icon {
		position: relative;
		width: 15px;
		height: 15px;
		cursor: pointer;
	}
	.icon-volume-rectangle {
		background-color: #898989;
		width: 5px;
		height: 7px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		-webkit-border-top-left-radius: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-moz-border-radius-topleft: 2px;
		-moz-border-radius-bottomleft: 2px;
		position: absolute;
		top: 5px;
		left: 2px;
	}

	.icon-volume-triangle {
		border: 4px solid #898989;
		border-left-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
		height: 15px;
		width: 0;
		position: absolute;
		top: 1px;
		right: 4px;
	}

	.icon-volume-line {
		background-color: #898989;
		width: 2px;
		height: 15px;
		position: absolute;
		top: 1px;
		right: 2px;
	}
	.icon-hd-rectangle {
		background-color: #33B9FF;
		width: 16px;
		height: 10px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		position: absolute;
		top: 3px;
		left: 0;
	}
	.icon-hd-rectangle .off {
		background-color: #898989;
	}
	.icon-hd-line-1 {
		background-color: black;
		width: 1px;
		height: 6px;

		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		position: absolute;
		top: 5px;
		left: 3px;
	}

	.icon-hd-line-2 {
		background-color: black;
		width: 4px;
		height: 1px;

		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		position: absolute;
		top: 7px;
		left: 3px;
	}

	.icon-hd-line-3 {
		background-color: black;
		width: 1px;
		height: 6px;

		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
		position: absolute;
		top: 5px;
		left: 6px;
	}

	.icon-hd-circle {
		border: black 1px solid;
		width: 4px;
		height: 6px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		-webkit-border-top-right-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		-moz-border-radius-topright: 2px;
		-moz-border-radius-bottomright: 2px;
		position: absolute;
		top: 5px;
		right: 2px;
	}

	@media screen and (max-width: 500px) {
		#mobile-nav-button {
			display: block;
		}
		#mobile-nav {
			font-family:'Proxima Nova W01 Medium';
			position: fixed;
			left: 0;
			right: 0;
			bottom: 40px;
			height: 450px;
			width: 100%;
			background: rgba(0,0,0,.8);
			display: none;
			z-index: 100;
			overflow: scroll;
			cursor: pointer;
		}
		#mobile-nav li {
			list-style: none;
			padding: 7px 15px;
			list-style: none;
			font-size: 14px;
			cursor: pointer;
			-webkit-transition:.2s ease-out;
			-moz-transition:.2s ease-out;
			transition:.2s ease-out;
		}
		#mobile-nav li:hover {
			color: #33B9FF;
			cursor: pointer;
			-webkit-transition:.2s ease-in;
			-moz-transition:.2s ease-in;
			transition:.2s ease-in;
		}
		.nav {
			display: none;
		}
		.movie {
			display: block;
		}
		body {
			overflow-x:hidden;
		}
		.video-bar {
			display:none;
		}
		
	}